.container {
    width: 100%;
    padding: 0 $gutter;

    @media screen and (min-width:768px){
        width: 768px;
        margin: 0 auto;
    }
}


.float-right {
    float: right !important;
}

.float-left{
    float: left !important;
}